# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
*.egg-info/
*.egg
build/
develop-eggs/
dist/
downloads/
eggs/
parts/
sdist/
var/
*.manifest
*.spec

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py
*.mo

# PyCharm / IDEs
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Windows
Thumbs.db
*.bak

# Env variables
.env
